#meHead{width: 100%;height: 150px;text-align: center;position: relative;}
#headbg{width: 100%;height: 150px;background: url(../img/1.jpg) no-repeat;background-size: 100% 150px;-webkit-filter:blur(5px);filter: blur(5px);position: absolute;top: 0;left: 0}
#meHead img{width: 80px;height: 80px;border-radius: 50%;-webkit-filter:blur(0.1px);filter: blur(0.1px);margin-top: 35px;}
#erweima{position: absolute;bottom: 30px;right: 60px}
#erweima span{color: white;font-size: 30px}
#erweima span:last-child{font-size: 20px}
.list3{width: 100%;background: white;margin-top: 30px}
.list3 li{background: white;border-bottom: 1px solid #eeeeee;width: 98%;margin: 0 auto;height:50px;line-height: 50px;font-size: 20px}
.list3 li span{float: right;font-weight: bold;}